

        <div class="portfolio-container" style="width: 100rem;">
            <div class="hero">
              <img src="../../../assets/zizipho.png" alt="a girl smiling" class="hero--image">
              <div class="hero--bio">
              
                <h3>About</h3>
                <p class="basic-info">
                  Zizipho is good at applying her programming skills to solve complex challenges.In her current role, she is responsible for applying her technical know-how to manage and operate IT hardware,software and application solutions.On her personal level, she has a strong listening skills,highly detailed,
                    She has built effective responsive UI,good in advanced development methodologies, tools, and processs contributing to the design and roolout of software application.Quick to learn new technologies;succesful working in both team and self-directed projects.</p>
        
                <nav>
                  
               
                  <a href="https://github.com/ZiziphoMa/PortFolio.git" class="nav--btn">github</a>
                  <p>maguguwnazizi94@gmail.com</p>
                </nav>
              </div>
            </div>
            
            <div class="project-wrapper">
              <img src="../../../assets/Screenshot 2022-05-11 at 12.17.04.png" style="width: 10rem;" alt="" >
              <div class="project-name">
                <h2 class="project-title">Projects</h2>
                Smart Serve App, The smart serve app is an errand app that has 3 users the Client,Service provider/runner and the Admin.
                  The smart serve App is created to help people who are always preoccupied, people who work 9-5.I come up with a solution where a client login in my app  and choose which errand he/she need it to be done but  he/she cannot since she/he's busy. After selecting an a errand of choice, then navigated to a page when you can write instrusction for the runner. The runner accept the request and change the status of the the request.Admin can delete, view, deactivate and add an errand  
             
              </div>
            </div>
            
            <div class="project-wrapper">
              
              <div class="project-name">
                <h2 class="project-title">Experience</h2>
                I was an fullstack intern at Digital Academy,building web and mobile responsive a application.My main focus wan on the frontend using Angular,HTML,CSS and Bootstrap.
              </div>
              <img src="../../../assets/learn_code.png" alt="" class="project-thumbnail">
            </div>
            
            <footer>
              <p>maguguwnazizi94@gmail.com</p>
              <p>
                <a href="https://github.com/ZiziphoMa/PortFolio.git" class="btn">github</a>
              </p>

           
            </footer>
          </div>
        
        
    

