

 <div class="card">
    <div class="row" >
     <div class="row" style="background-color:hsl(25, 58%, 94%);" >
      <div class="col">
        <h2>WHO AM I?</h2>
      </div>
      <div class="col">
      </div>
      <div class="col" >
      Hi my name is
      <h1> Zizipho Magugwana</h1>
      I am a FullStack developer.
      I have Build responsive applications using Angular,HTML,CSS and Bootstrap.
      <div class="col">
          <img src="../../../assets/zizipho.png" class="card-img-top" style="width: 20rem;" alt="...">
        
      </div>
  
    
      </div>
      <app-skills></app-skills>
    </div>
  </div>
</div>

