<div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column

        <div class="portfolio-container" >
            <div class="hero">
              <img src="../../../assets/zizipho.png" alt="a girl smiling" class="hero--image">
              <div class="hero--bio">
                <h1>Zizipho Magugwana</h1>
                <h3>FullStack Developer</h3>
                <p class="basic-info">
                    I have Build responsive applications using Angular,HTML,CSS and Bootstrap.</p>
                <nav>
                  <a href="#" class="nav--btn">About</a>
                  <a href="#" class="nav--btn">Contact</a>
                  <a href="#" class="nav--btn">Resume</a>
                </nav>
              </div>
            </div>
            
            <div class="project-wrapper">
              <img src="../../../assets/learn_code.png" alt="" class="project-thumbnail">
              <div class="project-name">
                <h2 class="project-title">Projects</h2>
                <p class="project-description">Description of a project</p>
              </div>
            </div>
            
            <div class="project-wrapper">
              
              <div class="project-name">
                <h2 class="project-title">Projects </h2>
                <p class="project-description">Description of a project</p>
              </div>
              <img src="../../../assets/learn_code.png" alt="" class="project-thumbnail">
            </div>
            
            <footer>
              <p>facebook</p>
              <p>twitter</p>
              <p>pinterest</p>
            </footer>
          </div>
        
        
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div>

