

<div class="banner-text">

      <app-about-me></app-about-me>
   
    

  <h2>Zizipho Magugwana</h2>
  <h1>About Me</h1>

  <div class="button button-1"  [routerLink]="['/aboutme']" >Show More</div>
  

  <div class="l">
   Zizipho
  </div>
</div>
<div class="animation-area">
  <ul class="box-area">
    <li>Zizipho</li>
    <li>Zizipho</li>
    <li>Zizipho</li>
    <li>Zizipho</li>
    <li>Zizipho</li>
    <li>Zizipho</li>
  </ul>
  
</div>





<section classs="home">
   
    <div class="wave"></div>
    <div class="wave wave-2" ></div>
    <div class="wave wave-3"></div>
  </section>




  <section id="page" data-theme-mode="light" data-page-type="homepage">
    <div class="content">      

<!------------  Begin Animated Menu ------------>
      

          <app-about-me1></app-about-me1>
          <app-skills></app-skills>

          


         
         


 






        