       <!-- <div class="container"> -->
            <!-- <div class="row"> -->
              <!-- <div class="col">
              </div> -->
              <!-- <div class="col"> -->
                <body>
                    <h2>Technical Skills</h2>
                    <div class="skills-bar">
                        <div class="bar">
                            <div class="info">
                                <span>HTML/CSS</span>
                    </div>
                    <div class="progress-line html"><span></span></div>
                        </div>
                    
                    
                    <div class="bar">
                            <div class="info">
                                <span>Nodejs</span>
                    </div>
                    <div class="progress-line javascript"><span></span></div>
                        </div>
                    
                    
                    <div class="bar">
                            <div class="info">
                                <span>IONIC</span>
                    </div>
                    <div class="progress-line php"><span></span></div>
                        </div>
                    
                    
                    <div class="bar">
                            <div class="info">
                                <span>Angular2+</span>
                    </div>
                    <div class="progress-line python"><span></span></div>
                        </div>
                    
                    
                    <div class="bar">
                            <div class="info">
                                <span>TypeScript</span>
                    </div>
                    <div class="progress-line mysql"><span></span></div>
                        </div>
                          
                        </div>
                          
                        </body>
              <!-- </div> -->
              <!-- <div class="col">
              </div> -->
            <!-- </div> -->
          <!-- </div> -->
    


     